# 第1章: DataFrame及Series的基本操作

In [ ]:
import pandas as pd
import numpy as np
# pd.set_option('max_columns', 4, 'max_rows', 10, 'max_colwidth', 12)

## Series的相關操作

### Series 有向量運算的特性 (可作 vectorize 運算, 有 broadcasting)

In [3]:
movies = pd.read_csv('data/movie.csv')
imdb_score = movies['imdb_score']
imdb_score

0       7.9
1       7.1
2       6.8
3       8.5
4       7.1
       ...
4911    7.7
4912    7.5
4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, Length: 4916, dtype: float64

In [6]:
imdb_score + 1 # broadcasting

0       8.9
1       8.1
2       7.8
3       9.5
4       8.1
       ...
4911    8.7
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [ ]:
imdb_score // 7

0       1.0
1       1.0
2       0.0
3       1.0
4       1.0
       ...
4911    1.0
4912    1.0
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [48]:
imdb_score > 7

0        True
1        True
2       False
3        True
4        True
        ...
4911     True
4912     True
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [8]:
director = movies['director_name']
director == 'James Cameron'

0        True
1       False
2       False
3       False
4       False
        ...
4911    False
4912    False
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

### 把 運算符 改成 method, 可用方法

* 數值運算：
  * `+` -> `.add`. 
  * `-` -> `.sub`
  * `*` -> `.mul`. 
  * `/` -> `.div`. 
  * `//` -> `.floordiv`. 
  * `%` -> `.mod`. 
  * `**` -> `.pow`  
* 比較運算:
  * `<` -> `.lt`. 
  * `<=` -> `.le`. 
  * `>` -> `.gt`. 
  * `>=` -> `.ge`. 
  * `==` -> `.eq`  
  * `!=` -> `.ne`

In [9]:
money = pd.Series([100, 20, None])
money - 15

0    85.0
1     5.0
2     NaN
dtype: float64

In [10]:
money.sub(15)

0    85.0
1     5.0
2     NaN
dtype: float64

In [11]:
money.sub(15, fill_value = 0) # 先把 na 補 0 ，再計算

0    85.0
1     5.0
2   -15.0
dtype: float64

In [12]:
money.gt(10)

0     True
1     True
2    False
dtype: bool

## 1.4 串連Series的方法

In [15]:
movies = pd.read_csv('data/movie.csv')
fb_likes = movies['actor_1_facebook_likes']
director = movies['director_name']

### 可以直接一路`.`下去

In [16]:
director.value_counts().head(3)

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Name: director_name, dtype: int64

In [17]:
fb_likes.isna().sum()

7

### 也可用括號括起來，就可以用 enter 來換行 (可註解)

In [58]:
(fb_likes.fillna(0)
         .astype(int)
         .head()
)

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

In [20]:
(fb_likes.fillna(0)
         #.astype(int)
         .head()
)

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

### 也可用 `\` 來分隔 (不可註解)

In [19]:
fb_likes \
    .fillna(0) \
    .astype(int) \
    .head()

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int64

In [21]:
fb_likes \
    .fillna(0) \
    #.astype(int) \
    .head()

IndentationError: unexpected indent (3311407207.py, line 4)

## 更改欄位名稱

In [22]:
movies = pd.read_csv('data/movie.csv')

### 用 `rename` 來改

In [23]:
col_map = {'director_name':'Director Name'}

In [24]:
movies.rename(columns=col_map).head()

,color,Director Name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### 清理不乾淨的欄位名稱

* 例如，我想把現在的欄位名稱：  
  * 前後的空白都去掉
  * 轉小寫
  * `director.name` 的 `.` 改成 `_` -> `director_name`. 
* 那可以這樣做

In [28]:
aa = "wHaT.ever  "
aa.strip().lower().replace('.', '_')

'what_ever'

* 就把上面的作法套到欄位名稱上就好：

In [29]:
cols = [col.strip().lower().replace('.', '_') for col in movies.columns]
movies.columns = cols
movies.head(3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

## 刪除column

In [43]:
movies = pd.read_csv('data/movie.csv')
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

* 刪掉第一個 column

In [44]:
movies = movies.drop('color', axis = 1)
movies.columns

Index(['director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

* 刪掉前五個 column

In [45]:
del_columns = ['director_name', 'num_critic_for_reviews', 'duration']
movies = movies.drop(del_columns, axis = 1)
movies.columns

Index(['director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

## 新增 column

In [46]:
movies = pd.read_csv('data/movie.csv')
target_columns = ['actor_1_facebook_likes','actor_2_facebook_likes',
        'actor_3_facebook_likes','director_facebook_likes']
movies = movies[target_columns]
movies

,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,director_facebook_likes
0,1000.0,936.0,855.0,0.0
1,40000.0,5000.0,1000.0,563.0
2,11000.0,393.0,161.0,0.0
3,27000.0,23000.0,23000.0,22000.0
4,131.0,12.0,NaN,131.0
...,...,...,...,...
4911,637.0,470.0,318.0,2.0
4912,841.0,593.0,319.0,NaN
4913,0.0,0.0,0.0,0.0
4914,946.0,719.0,489.0,0.0
4915,86.0,23.0,16.0,16.0

### 直接用 `[]` 來處理

* 新增一個常數

In [47]:
movies['has_seen'] = 0
movies.head()

,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,director_facebook_likes,has_seen
0,1000.0,936.0,855.0,0.0,0
1,40000.0,5000.0,1000.0,563.0,0
2,11000.0,393.0,161.0,0.0,0
3,27000.0,23000.0,23000.0,22000.0,0
4,131.0,12.0,NaN,131.0,0

* 新增對各欄位做向量運算的結果 (加總觀眾對 3 個演員 + 1 個導演 的讚數)

In [48]:
# 加總法 1: 若欄位內有 NA，加總完會有 NA
total1 = (movies['actor_1_facebook_likes'] +
         movies['actor_2_facebook_likes'] + 
         movies['actor_3_facebook_likes'] + 
         movies['director_facebook_likes'])

# 加總法 2: 用 dataframe 的 sum method，加總時就會把 NA 先補 0 再相加
cols = ['actor_1_facebook_likes','actor_2_facebook_likes',
        'actor_3_facebook_likes','director_facebook_likes']
total2 = movies[cols].sum(axis='columns')

# 新增欄位
movies["total1"] = total1
movies["total2"] = total2

In [49]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   actor_1_facebook_likes   4909 non-null   float64
 1   actor_2_facebook_likes   4903 non-null   float64
 2   actor_3_facebook_likes   4893 non-null   float64
 3   director_facebook_likes  4814 non-null   float64
 4   has_seen                 4916 non-null   int64
 5   total1                   4794 non-null   float64
 6   total2                   4916 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 269.0 KB

* 可以看到 total1 和 total2 的 Non-Null Count 有差別

### 用 `.assign` method

In [53]:
movies = pd.read_csv('data/movie.csv')
target_columns = ['actor_1_facebook_likes','actor_2_facebook_likes',
        'actor_3_facebook_likes','director_facebook_likes']
movies = movies[target_columns]
movies

,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,director_facebook_likes
0,1000.0,936.0,855.0,0.0
1,40000.0,5000.0,1000.0,563.0
2,11000.0,393.0,161.0,0.0
3,27000.0,23000.0,23000.0,22000.0
4,131.0,12.0,NaN,131.0
...,...,...,...,...
4911,637.0,470.0,318.0,2.0
4912,841.0,593.0,319.0,NaN
4913,0.0,0.0,0.0,0.0
4914,946.0,719.0,489.0,0.0
4915,86.0,23.0,16.0,16.0

#### 先算好再 assign 進去

* 作法和剛剛都一樣，都是先算出結果，再 assign 到新欄位

In [54]:
# 加總法 1: 若欄位內有 NA，加總完會有 NA
total1 = (movies['actor_1_facebook_likes'] +
         movies['actor_2_facebook_likes'] + 
         movies['actor_3_facebook_likes'] + 
         movies['director_facebook_likes'])

# 加總法 2: 用 dataframe 的 sum method，加總時就會把 NA 先補 0 再相加
cols = ['actor_1_facebook_likes','actor_2_facebook_likes',
        'actor_3_facebook_likes','director_facebook_likes']
total2 = movies[cols].sum(axis='columns')

# 新增欄位
movies = movies.assign(total1 = total1,
                      total2 = total2)
movies

,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,director_facebook_likes,total1,total2
0,1000.0,936.0,855.0,0.0,2791.0,2791.0
1,40000.0,5000.0,1000.0,563.0,46563.0,46563.0
2,11000.0,393.0,161.0,0.0,11554.0,11554.0
3,27000.0,23000.0,23000.0,22000.0,95000.0,95000.0
4,131.0,12.0,NaN,131.0,NaN,274.0
...,...,...,...,...,...,...
4911,637.0,470.0,318.0,2.0,1427.0,1427.0
4912,841.0,593.0,319.0,NaN,NaN,1753.0
4913,0.0,0.0,0.0,0.0,0.0,0.0
4914,946.0,719.0,489.0,0.0,2154.0,2154.0
4915,86.0,23.0,16.0,16.0,141.0,141.0

* 從這個角度來看，已經很像 R 的 mutate 做法了，可以這樣寫更像：

In [56]:
# 原始資料
movies = pd.read_csv('data/movie.csv')
target_columns = ['actor_1_facebook_likes','actor_2_facebook_likes',
        'actor_3_facebook_likes','director_facebook_likes']
movies = movies[target_columns]

# 開始做 mutate
movies = movies.assign(
    total1 = (movies['actor_1_facebook_likes'] +
         movies['actor_2_facebook_likes'] + 
         movies['actor_3_facebook_likes'] + 
         movies['director_facebook_likes']),
    total2 = movies[['actor_1_facebook_likes','actor_2_facebook_likes',
        'actor_3_facebook_likes','director_facebook_likes']].sum(axis='columns')
)

movies

,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,director_facebook_likes,total1,total2
0,1000.0,936.0,855.0,0.0,2791.0,2791.0
1,40000.0,5000.0,1000.0,563.0,46563.0,46563.0
2,11000.0,393.0,161.0,0.0,11554.0,11554.0
3,27000.0,23000.0,23000.0,22000.0,95000.0,95000.0
4,131.0,12.0,NaN,131.0,NaN,274.0
...,...,...,...,...,...,...
4911,637.0,470.0,318.0,2.0,1427.0,1427.0
4912,841.0,593.0,319.0,NaN,NaN,1753.0
4913,0.0,0.0,0.0,0.0,0.0,0.0
4914,946.0,719.0,489.0,0.0,2154.0,2154.0
4915,86.0,23.0,16.0,16.0,141.0,141.0

* 的確跟 R 很像了，但很討厭的就是，我還是要一直寫 dataframe 的名稱 `movies`  
* 而且，如果想像 R 一路做 pipe 下去的話，那就 GG 了

In [58]:
movies = pd.read_csv('data/movie.csv')
target_columns = ['actor_1_facebook_likes','actor_2_facebook_likes',
        'actor_3_facebook_likes','director_facebook_likes']
movies = movies[target_columns]
movies

,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,director_facebook_likes
0,1000.0,936.0,855.0,0.0
1,40000.0,5000.0,1000.0,563.0
2,11000.0,393.0,161.0,0.0
3,27000.0,23000.0,23000.0,22000.0
4,131.0,12.0,NaN,131.0
...,...,...,...,...
4911,637.0,470.0,318.0,2.0
4912,841.0,593.0,319.0,NaN
4913,0.0,0.0,0.0,0.0
4914,946.0,719.0,489.0,0.0
4915,86.0,23.0,16.0,16.0

In [66]:
# 原始資料
movies = pd.read_csv('data/movie.csv')
target_columns = ['actor_1_facebook_likes','actor_2_facebook_likes',
        'actor_3_facebook_likes','director_facebook_likes']
movies = movies[target_columns]

# 開始做 mutate
movies = (
    movies
        .query("director_facebook_likes > 500") # 先篩選
        .sort_values("director_facebook_likes")
        .assign(total1 = 
                   (movies['actor_1_facebook_likes'] +
                    movies['actor_2_facebook_likes'] + 
                    movies['actor_3_facebook_likes'] + 
                    movies['director_facebook_likes'])
               )
)

movies

,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,director_facebook_likes,total1
165,5000.0,808.0,91.0,503.0,6402.0
1877,264.0,139.0,108.0,503.0,1014.0
831,10000.0,593.0,467.0,503.0,11563.0
2220,2000.0,92.0,83.0,503.0,2678.0
1106,13000.0,929.0,795.0,503.0,15227.0
...,...,...,...,...,...
3,27000.0,23000.0,23000.0,22000.0,95000.0
1222,23000.0,20000.0,19000.0,22000.0,84000.0
96,11000.0,11000.0,6000.0,22000.0,50000.0
1057,14000.0,509.0,319.0,22000.0,36828.0
3603,23000.0,19000.0,694.0,23000.0,65694.0

In [65]:
# 原始資料
movies = pd.read_csv('data/movie.csv')
target_columns = ['actor_1_facebook_likes','actor_2_facebook_likes',
        'actor_3_facebook_likes','director_facebook_likes']
movies = movies[target_columns]

# 開始做 mutate
movies = (
    movies
        .query("director_facebook_likes > 500") # 先篩選
        .sort_values("director_facebook_likes")
        .assign(total1 = lambda x:
                   (x['actor_1_facebook_likes'] +
                    x['actor_2_facebook_likes'] + 
                    x['actor_3_facebook_likes'] + 
                    x['director_facebook_likes'])
               )
)

movies

,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,director_facebook_likes,total1
165,5000.0,808.0,91.0,503.0,6402.0
1877,264.0,139.0,108.0,503.0,1014.0
831,10000.0,593.0,467.0,503.0,11563.0
2220,2000.0,92.0,83.0,503.0,2678.0
1106,13000.0,929.0,795.0,503.0,15227.0
...,...,...,...,...,...
3,27000.0,23000.0,23000.0,22000.0,95000.0
1222,23000.0,20000.0,19000.0,22000.0,84000.0
96,11000.0,11000.0,6000.0,22000.0,50000.0
1057,14000.0,509.0,319.0,22000.0,36828.0
3603,23000.0,19000.0,694.0,23000.0,65694.0

In [79]:
def sum_likes(df):
    return df[[c for c in df.columns
               if 'like' in c]].sum(axis=1)
movies.assign(total_likes=sum_likes).head(5)

   color director_name  ...  has_seen  total_likes
0  Color  James Ca...   ...         0      40625.0
1  Color  Gore Ver...   ...         0      94913.0
2  Color   Sam Mendes   ...         0     108254.0
3  Color  Christop...   ...         0     365759.0
4    NaN  Doug Walker   ...         0        417.0

[5 rows x 30 columns]

In [82]:
def cast_like_gt_actor_director(df):
    return df['cast_total_facebook_likes'] >= df['total_likes']

df2 = (movies.assign(total_likes=total,
                     is_cast_likes_more = cast_like_gt_actor_director)
      )

In [83]:
df2['is_cast_likes_more'].all()

False

In [84]:
df2 = df2.drop(columns='total_likes')

In [85]:
actor_sum = (movies[[c for c in movies.columns if 'actor_' in c and '_likes' in c]]
             .sum(axis='columns'))

actor_sum.head(5)

0     2791.0
1    46000.0
2    11554.0
3    73000.0
4      143.0
dtype: float64

In [86]:
movies['cast_total_facebook_likes'] >= actor_sum

0       True
1       True
2       True
3       True
4       True
        ...
4911    True
4912    True
4913    True
4914    True
4915    True
Length: 4916, dtype: bool

In [87]:
movies['cast_total_facebook_likes'].ge(actor_sum)

0       True
1       True
2       True
3       True
4       True
        ...
4911    True
4912    True
4913    True
4914    True
4915    True
Length: 4916, dtype: bool

In [88]:
movies['cast_total_facebook_likes'].ge(actor_sum).all()

True

In [89]:
pct_like = (actor_sum
            .div(movies['cast_total_facebook_likes'])
)

In [90]:
pct_like.describe()

count    4883.000000
mean        0.833279
std         0.140566
min         0.300767
25%         0.735284
50%         0.869289
75%         0.954774
max         1.000000
dtype: float64

In [91]:
pd.Series(pct_like.values,
          index=movies['movie_title'].values).head()

Avatar                                        0.577369
Pirates of the Caribbean: At World's End      0.951396
Spectre                                       0.987521
The Dark Knight Rises                         0.683783
Star Wars: Episode VII - The Force Awakens    1.000000
dtype: float64

In [92]:
profit_index = movies.columns.get_loc('gross') + 1
profit_index

9

In [93]:
movies.insert(loc=profit_index,
              column='profit',
              value=movies['gross'] - movies['budget'])

In [94]:
del movies['director_name']